#logo {
  width: 150px !important;
  height: 55px !important;
  background: no-repeat 100% / cover url('../../assets/images/logo/logoN.png');
  cursor: pointer;
}

.row-content {
  background-color: rgba(0, 0, 0, 0.548);
  height: 100%;
  padding: 12px;
  margin: 0;
}
